<!DOCTYPE .css>

h1 {color: white; font-size: 24pt;} 

p {color: white; font-weight: normal;} 

body { background: midnightblue; color: white; font-size: 14pt; font-family: 'Rokkitt', serif;}

nav a {	display: table-cell;
        border: 2px solid navy;
        padding: 10px;
		margin: 5px;
		background: white;}